@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:400,600&display=swap');

/* Layout */

body {
    font-family:'Source Sans Pro', sans-serif;
    font-size:18px;
    text-align: justify;
    padding-left: 1%;
}

div {
    width: 75%;
    max-width: 45em;
}

/* Sidenote code */

span.note {
    float: right;
    width: 28%;
    margin-right: -32%;
    font-family:'Source Sans Pro', sans-serif;
    color: #214E70;
    font-size: 87.5%;
    font-weight:400;
    text-align: left;
    padding-bottom: 1em;
}

/* Formatting stuff */

code {
    font-family: 'Source Code Pro', monospace;
}

.blockquote {
    padding: 0.75em 1em 0.625em 1em;
    border-radius: 0.375em;
    border-left-style: solid;
    border-width: 0.375em;
    border-color: #618098;
    background: #EFF3F6;
}

.codeblock {
    padding: 0.75em 0em 0.625em 1em;
    border-radius: 0.375em;
    border-left-style: solid;
    border-width: 0.375em;
    border-color: #618098;
    font-family: 'Source Code Pro', monospace;
    font-weight:600;
    background: black;
    color: #ADB9C2;
}

.sc {
    font-variant: small-caps;
    font-size:118.75%;
    font-weight:400;
    letter-Spacing: 0.03125em;
}

/*Headers*/

h1 {    
    font-size:150%; /* 150 * 2/3 == 100 (the base font size) */
    color:#618098;
    font-weight:700;
}

h2 { 
    font-size:137.5%; /* 150 * 11/12 == 137.5 */
    color:#618098;
    font-weight:400;
}

h3 { 
    font-size:112.5%; /* 150 * 3/4 == 112.5*/
    color:#618098;
    margin-top:0em;
    font-weight:400;
}
/*Links and link formatting*/

a:link {
    color:#214E70; 
    border-bottom: 1px dotted #673E13; 
    text-decoration:none;
  }
  
a:visited {
    color:#214E70; 
    text-decoration:none;
  }
  
a:hover {
    color:#663E08; 
    border-bottom: 1px; 
    text-decoration:none;
  }
  
a.ext:after {
  content: "\21D7";
}

a.doc:after {
content: "\21D3";
}
  
/*Lists and list formatting*/

ul {
    padding-left: 1.625em;
}

li {
    padding-left: 0.375em;
}
li:not(:last-child) {
    margin-bottom: 0.5em;
}
